body {
    height: 100%;
    background: linear-gradient(to bottom, #153D77 20%, #F4F7FC 0%);
    font-size: 14px;
}

label {
    text-align: left !important;
    float: left !important;
    display: block !important;
}

button {
    border-radius: 0;
    border: 1px solid black;
    background-color: #EBEBEB;
    width: 100%;
}

.card-header {
    background-color: white;
    color: black;
}

.readonly {
    background-color: #F1F8F3;
    border: 0;
}


/* Card */

.card-header {
    border-bottom: 0;
}

.card-body {
    padding-top: 5px;
}


/* Form style */

.form-submit {
    background-color: #E9ECEF;
    border-radius: 5px;
    min-height: 150px;
    padding: auto;
}


/* Table style */

.stt {
    width: 25px;
}

.table-scroll {
    display: block;
    height: 550px;
    overflow-y: scroll;
}

.table-scroll thead {
    width: 100%;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll tr th {
    padding: 0;
    height: 35px;
    text-align: center;
}

.view-table {
    min-height: 550px;
}

.view-table .table thead {
    width: 100%;
}

.view-table .table thead tr th {
    background-color: #C1E2FC;
}