body {
    background-color: rgba(191, 196, 201, 0.212);
    height: 100%;
}

.form {
    background-color: rgba(206, 211, 214, 0.719);
}

.form-row {
    margin: 25px;
}

.form-input {
    height: 20%;
    margin-top: 5px;
}

.control-label {
    width: 50px;
    text-align: center;
}

.input-w50 {
    width: 50px;
    border: 2px solid black;
}

.input-100 {
    width: 100px;
    border: 2px solid black;
}

.input-150 {
    width: 150px;
    border: 2px solid black;
}

.input-250 {
    width: 250px;
    border: 2px solid black;
}

.input-readonly {
    background-color: aliceblue;
    border: 1px solid black;
}

table {
    /* display: block; */
    height: 225px;
    /* width: 100%; */
    overflow-y: scroll;
}